# 5대범죄 관할구별 발생 시각화

In [40]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing

In [41]:
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
# 한글깨짐 해결
import os
os.name

if os.name == 'posix': 
    plt.rc('font', family='AppleGothic')
elif os.name == 'nt': 
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) 

%config InlineBackend.figure_format = 'retina'

In [43]:
#부산시 구별 5대 범죄 발생 검거 현황 
# 출처: 공공데이터 부산시 5대 범죄 발생 현황

crime18 = pd.read_csv('./Busan_Crime/18_BusanCrime.csv',encoding = 'utf-8')
crime19 = pd.read_csv('./Busan_Crime/19_BusanCrime.csv',encoding = 'utf-8')
crime20 = pd.read_csv('./Busan_Crime/20_BusanCrime.csv',encoding = 'utf-8')
crime21 = pd.read_csv('./Busan_Crime/21_BusanCrime.csv',encoding = 'utf-8')
crime18.head()

   연번  경찰서   구분  살인  강도  성범죄    절도    폭력
0   1   중부  경찰서   1   2   47   954   784
1   2   동래  경찰서   3   6   89  1078  1375
2   3   영도  경찰서   4   2   43   329   666
3   4   동부  경찰서   0   5   63   576   823
4   5  부산진  경찰서   1  17  321  2376  3253

In [44]:
crime18.head()

   연번  경찰서   구분  살인  강도  성범죄    절도    폭력
0   1   중부  경찰서   1   2   47   954   784
1   2   동래  경찰서   3   6   89  1078  1375
2   3   영도  경찰서   4   2   43   329   666
3   4   동부  경찰서   0   5   63   576   823
4   5  부산진  경찰서   1  17  321  2376  3253

In [45]:
crime19.head()

   연번  경찰서   구분  살인  강도  성범죄    절도    폭력
0   1   중부  경찰서   3   4   64   700   822
1   2   동래  경찰서   4   6   91   938  1468
2   3   영도  경찰서   4   5   32   350   662
3   4   동부  경찰서   0  10   52   696   934
4   5  부산진  경찰서   7  16  306  2424  3304

In [46]:
# crime18.columns=['관할구','구분','살인','강도','성범죄','절도','폭력']
# crime19.columns=['관할구','구분','살인','강도','성범죄','절도','폭력']
# crime20.columns=['관할구','구분','살인','강도','성범죄','절도','폭력']
# crime21.columns=['관할구','구분','살인','강도','성범죄','절도','폭력']

In [47]:
crime18['합계']=crime18['숫자']+crime18['살인']+crime18['강도']+crime18['성범죄']+crime18['절도']+crime18['폭력']
crime18.columns()

KeyError: '숫자'